/* Footer styles */
.footer {
    background: white; /* Gradient background for a modern look */
    color: #313131ec;
    text-align: center;
    padding: 15px 0; /* Adjust padding for better spacing */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1); /* Added subtle shadow for depth */
    font-size: 1rem; /* Adjust font size for better readability */
    z-index: 10; /* Ensures footer stays on top */
}


/* Footer text styling */
.footer p {
    margin: 0;
    font-weight: lighter;
}

/* Footer link styling (if you have links in the footer) */
.footer a {
    color: #e0e0e0; /* Lighter color for links */
    text-decoration: none;
    transition: color 0.5s ease; /* Smooth color transition */
}

header {
    background-size: cover;
    transition: background-color 0.5s ease; /* Smooth transition for background color change */
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
}

section h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Horizontal, vertical, blur, color */
}

